<div class="container" style="margin-top: 15px;">
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <div class="card border-primary mb-3" style="width: 18rem;">
                <div class="card-header">Contact details</div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">(01) 415 04 00</h6>
                    <a href="#" class="card-link">contact@dentalpractice.ie</a>
                    <p class="card-text">Griffith College Dublin<br />
                    South Circular Road<br />
                    Dublin 8</p>
                </div>
            </div>
        </div>

        <div class="col-md-8 order-md-1">
            <h1>Contact</h1>
            <%= render 'form' %>
        </div>
    </div>
</div>