%li.nav-item
  = active_link_to 'Dentists', admin_dentists_path, class: 'nav-link'
%li.nav-item
  = active_link_to 'Patients', admin_patients_path, class: 'nav-link'
%li.nav-item
  = active_link_to 'Appointments', admin_appointments_path, class: 'nav-link'
%li.nav-item
  = active_link_to 'Messages', admin_contacts_path, class: 'nav-link'
